layout {
    pane size=2 borderless=true {
      plugin location="zjstatus" {
        format_left  "#[fg=#4a4a4a,bold] {session}#[] {tabs}"
        format_right "{command_git_branch}"
        format_space "#[]"

        mode_normal          "#[] "

        tab_normal               "#[fg=#8a7873] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_active               "#[fg=#a87bb7,bold,italic] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_fullscreen_indicator "□ "
        tab_sync_indicator       "  "
        tab_floating_indicator   "󰉈 "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=#d16577] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime          "#[fg=#8a7873] {format} "
        datetime_format   "%A, %d %b %Y %H:%M"
        datetime_timezone "America/Los_Angeles"
      }
    }

  pane {
    pane {
      pane split_direction="vertical" {
        pane size="40%" command="task" name="server" {
          args "-w" "daemon:run"
        }

        pane size="40%" split_direction="horizontal" {
          pane size="20%" command="task" name="zellij logs" {
            args "plugin:zellijlogs"
          }

          pane command="task" name="plugin logs" {
            args "plugin:logs"
          }
        }

        pane split_direction="horizontal" size="20%" {
          pane size="80%" command="task" name="plugin build" {
            args "-w" "plugin:deploy"
          }

          pane {
            plugin location="file:~/.config/zellij/plugins/utena.wasm" { }
          }
        }
      }
    }
  }
}
